<p>attribute-directive works!</p>




<h1 [ngStyle]="{'font-size.px':size}">The size of the text of the heading 1 tag is {{size}} px </h1>

<div class="radio">
    <p>10px:<input type="radio" name="size" value="10" [(ngModel)]="size"></p>
    <p>20px:<input type="radio" name="size" value="20" [(ngModel)]="size"></p>
    <p>30px:<input type="radio" name="size" value="30" [(ngModel)]="size"></p>
    <p>40px:<input type="radio" name="size" value="40" [(ngModel)]="size"></p>
    <p>50px:<input type="radio" name="size" value="50" [(ngModel)]="size"></p>
</div>



    
